# CMake
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/cmake_install.cmake
**/Makefile

# Python
/dist
/build
/pybind11
/src/version.h
/src/nmslib
*.pyc
*.so

# Cpp
nxc

# Docs
docs/*/*

# Experiments
/data
/models*
/results*

# Misc
.idea
.DS_Store
*.cbp
