recursive-include docs *
recursive-include pybind11 *
recursive-include python *
recursive-include src *
include CMakeLists.txt
include LICENSE.md
include pyproject.toml
include README.md
global-exclude Makefile CMakeFiles *.cmake *.so *.pyd .DS_Store
