name: Build macOS Python wheels

on:
  push:
    branches:
      - 'master'
    paths:
      - '.github/workflows/macos-wheels.yml'
      - 'python/**'
      - 'src/**'
      - 'CMakeLists.txt'
      - 'setup.py'

jobs:
  deploy:
    strategy:
      matrix:
        os: [macos-10.15, macos-11, macos-12]
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Environment report
        run: |
          system_profiler SPSoftwareDataType | grep "System Version"
          python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install twine flake8 cmaketools setuptools wheel

      - name: Lint with flake8 for syntax errors
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Build macOS Python wheel
        run: python setup.py bdist_wheel #-w ./dist --no-deps

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: macos-wheels
          path: dist/*macosx*.whl

    #- name: Publish wheels to PyPI
    #  env:
    #    TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
    #    TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    #  run: |
    #    twine upload dist/*macosx*.whl
